<template>
    <div>
        <div :style="{'height': height}" ref="editor" class="mark__editor"></div>
    </div>
</template>
<script>
    /**
     * @flow
     */
    import * as ace from 'brace';
    import 'brace/ext/language_tools'
    import 'brace/mode/markdown'
    import 'brace/theme/monokai'

    const {snippetManager} = ace.acequire("ace/snippets");
    import {eventBus} from "../helpers/eventBus";
    import {Note} from "../entities/Note";

    export default {
        name: "Editor",
        props: ['height', 'value'],
        data() {
            return {
                editor: null
            }
        },
        mounted() {
            this.initializeEditor();

            if (this.value && this.editor) {
                this.editor.setValue(this.value);
            }

            setInterval(() => {
                this.resizeEditor();
            }, 500);

            eventBus.$on('editor.loadNote', (payload) => {
                let note: Note = payload.note;
                this.editor.setValue(note.content);
                this.editor.execCommand("gotolineend");
                this.enableAndFocusEditor();
            });

            eventBus.$on('editor.clear', () => {
                this.editor.setValue("");
                this.editor.execCommand("gotolineend");
                this.enableAndFocusEditor();
            });

            eventBus.$on('editor.resize', () => {
                this.resizeEditor();
            });

            eventBus.$on('editor.setBold', () => {
                if (!this.doGenericMarkdownReplacement('**',/(?:\*\*)/g)) {
                    this.setSnippetWithTemplate('**')
                }
            });

            eventBus.$on('editor.setItalic', () => {
                if (!this.doGenericMarkdownReplacement('*', /(?:\*)/g)) {
                    this.setSnippetWithTemplate('*')
                }
            });

            eventBus.$on('editor.setStrikeThrough', () => {
                if (!this.doGenericMarkdownReplacement('~~', /(?:~~)/g)) {
                    this.setSnippetWithTemplate('~~')
                }
            });

            eventBus.$on('editor.setUnderline', () => {
                if (!this.doGenericMarkdownReplacement('__', /(?:__)/g)) {
                    this.setSnippetWithTemplate('__')
                }
            });

            eventBus.$on('editor.setHeading', (payload) => {
                this.setHeading(payload.size);
            });

            this.editor.session.on('change', (delta) => {
                if (delta.action === "insert") {
                    this.resizeEditor();
                }
                this.$emit('input', this.editor.getValue());
            });
        },
        methods: {
            /**
             * Initialize the editor
             *
             * @returns void
             */
            initializeEditor() {
                this.editor = ace.edit(this.$refs.editor);
                this.editor.session.mergeUndoDeltas = true;
                this.editor.getSession().setMode('ace/mode/markdown');
                this.editor.setTheme('ace/theme/monokai');
                this.editor.setOptions({
                    autoScrollEditorIntoView: true,
                    copyWithEmptySelection: true,
                });
            },
            /**
             * Checks if existing regexp matches when toggling 'Italic, Bold', so we don't end up double wrapping             *
             * @param pattern
             * @param regexp
             * @returns {boolean}
             */
            doGenericMarkdownReplacement(pattern, regexp) {
                let range = this.editor.selection.getRange();
                let formatSelection = this.getFormatSelection(range, pattern.length);
                let text = this.editor.session.getTextRange(formatSelection);
                if (text.includes(pattern)) {
                    text = text.replace(regexp, '');
                    range.start.column = range.start.column - pattern.length;
                    range.end.column = range.end.column - pattern.length;
                    this.editor.session.replace(formatSelection, text);
                    this.editor.selection.setRange(range);
                    return true;
                }
                else {
                    return false;
                }
            },
            /**
             * Get offset range object based on input
             *
             * @param range
             * @param offset
             * @returns {{start: {column: number, row: *}, end: {column: *, row: *}}}
             */
            getFormatSelection(range, offset = 2) {
                let formatSelection = {
                    start: {
                        column: range.start.column - offset,
                        row: range.start.row
                    },
                    end: {
                        column: range.end.column + offset,
                        row: range.end.row
                    }
                };
                return formatSelection;
            },
            /**
             * Enable and focus the editor
             *
             * @returns void
             */
            enableAndFocusEditor() {
                if (this.editor) {
                    this.editor.focus();
                }
            },
            setSnippetWithTemplate(parts) {
                snippetManager.insertSnippet(this.editor, parts + "${0:$SELECTION}" + parts);
                this.enableAndFocusEditor();
            },
            setHeading(size) {
                let hashes = '';
                for (let i = 0; i < size; i++) {
                    hashes += '#'
                }

                snippetManager.insertSnippet(this.editor, hashes + " ${0:$SELECTION}");
                this.enableAndFocusEditor();
            },
            resizeEditor() {
                this.editor.resize();
                this.editor.renderer.updateFull(true);
            }
        }
    }
</script>
<style lang="scss">
    .mark__editor {
        width: 100%;
    }
</style>