<template>
    <header id="header" class="mark__heading shadow">
        <div class="d-flex">
            <div class="d-inline-flex align-items-center">
                <div class="p-2 d-flex">Mark Editor</div>
            </div>
            <div class="d-inline-flex overflow-hidden">
                <div class="d-flex">
                    <div class="d-inline-flex">
                        <button class="d-flex btn font-weight-bold p-2" style="font-size: 20px"
                                @click="setHeading(1)">H1
                        </button>
                    </div>
                    <div class="d-inline-flex">
                        <button class="d-flex  btn font-weight-bold p-2" style="font-size: 20px"
                                @click="setHeading(2)">H2
                        </button>
                    </div>
                    <div class="d-inline-flex">
                        <button class="d-flex btn font-weight-bold p-2" style="font-size: 20px"
                                @click="setHeading(3)">H3
                        </button>
                    </div>
                    <div class="d-inline-flex">
                        <button class="d-flex btn font-weight-bold p-2" style="font-size: 20px"
                                @click="setHeading(4)">H4
                        </button>
                    </div>
                    <div class="d-inline-flex">
                        <button class="d-flex btn font-weight-bold p-2" style="font-size: 20px"
                                @click="setHeading(5)">H5
                        </button>
                    </div>
                    <div class="d-inline-flex">
                        <button class="d-flex btn font-weight-bold p-2" style="font-size: 20px"
                                @click="setHeading(6)">H6
                        </button>
                    </div>
                    <div class="d-inline-flex">
                        <button class="d-flex btn font-weight-bold" style="font-size: 20px" @click="setBold">
                            B
                        </button>
                    </div>
                    <div class="d-inline-flex">
                        <button class="d-flex align-items-center btn icon p-2" @click="setItalic"><i
                                class="d-inline-flex material-icons">format_italic</i></button>
                    </div>
                    <div class="d-inline-flex">
                        <button class="d-flex align-items-center btn icon p-2" @click="setStrikeThrough"><i
                                class="d-inline-flex material-icons">format_strikethrough</i></button>
                    </div>
                    <div class="d-inline-flex">
                        <button class="d-flex align-items-center btn icon p-2" @click="setUnderline"><i
                                class="d-inline-flex material-icons">format_underline</i></button>
                    </div>
                </div>
            </div>
        </div>
    </header>
</template>
<script>
    import {eventBus} from "../helpers/eventBus";

    export default {
        name: "Header",
        methods: {
            setBold() {
                eventBus.$emit('editor.setBold');
            },
            setItalic() {
                eventBus.$emit('editor.setItalic');
            },
            setStrikeThrough() {
                eventBus.$emit('editor.setStrikeThrough');
            },
            setUnderline() {
                eventBus.$emit('editor.setUnderline');
            },
            setHeading(size) {
                eventBus.$emit('editor.setHeading', {
                    size: size
                })
            }
        }
    }
</script>
<style lang="scss">
    .mark__heading {
        .icon {
            position: relative;
            top: 2px;
        }
    }
</style>