<template>
    <div>
        <div class="p-3">
            <h5 class="pb-0 mb-0">Note history</h5>
        </div>
        <div class="list-group">
            <div v-for="note in getNotes" :key="'note-index-' + note.uuid" class="list-group-item">
                <div class="mb-2">
                    <strong class="lead">{{note.title}}</strong>
                    <div>
                        {{fromNow(note.created)}} {{time(note.created)}}
                    </div>
                </div>
                <button class="btn btn-outline-light btn-sm" @click="loadNote(note)">Load</button>
                <button class="btn btn-outline-light btn-sm ml-2" @click="deleteNote(note.uuid)">Delete</button>
            </div>
        </div>
    </div>
</template>
<script>
    /**
     * @flow
     */
    import moment from 'moment'
    import {Note} from "../entities/Note";
    import {mapGetters} from 'vuex'
    import {eventBus} from "../helpers/eventBus";

    export default {
        name: "Notes",
        props: ['markdown'],
        data() {
            return {
                model: new Note(),
                activeNote: null
            }
        },
        methods: {
            time(date) {
                return moment(date).format('HH:mm:a');
            },
            fromNow(date) {
                return moment(date).format('Do MMMM YYYY');
            },
            loadNote(note) {
                this.$store.commit('Notes/setActiveNote', note);
                eventBus.$emit('editor.loadNote', {note});
            },
            deleteNote(uuid) {
                this.$bvModal.msgBoxConfirm('Are you sure you want to remove this note?')
                    .then((confirm) => {
                        if (confirm) {
                            this.$store.commit('Notes/deleteNote', uuid);
                        }
                    })
            },
            addNote() {
                this.model.content = this.markdown;
                this.$store.commit('Notes/addNote', this.model);
            }
        },
        computed: {
            ...mapGetters("Notes", [
                "getNotes"
            ])
        }
    }
</script>