<template>
    <div id="app">
        <Header></Header>
        <div class="row no-gutters d-flex">
            <div class="col p-0 m-0" id="markdown">
                <Editor v-model="markdown" :height="height"></Editor>
            </div>
            <div class="col m-0" id="preview" :style="{'height': height, 'overflow': 'auto'}">
                <div class="toolbar bg-dark text-white sticky-top  align-items-center" align="right" v-if="markdown">
                    <div v-if="getActiveNote" class="bg-info text-white small font-weight-bold p-1 d-flex">
                        <div class="d-inline-flex text-white pl-2 pr-2">Active note: "{{getActiveNote.title}}"</div>
                        <div class="d-inline-flex ml-auto pointer-event"
                             style="text-decoration: underline;cursor:pointer" @click="closeNote()">Close note
                        </div>
                    </div>
                    <div class="p-2 d-flex">
                        <b-button class="btn-sm" v-if="getActiveNote" @click="updateNote(getActiveNote)">Update</b-button>
                        <b-button class="ml-auto btn-sm" v-b-modal.note-form>Save as</b-button>
                    </div>
                </div>
                <b-modal ref="note-form" id="note-form" title="Save note" hide-footer>
                    <form @submit.prevent="addNote">
                        <div class="form-group">
                            <label for="txt_title">Title</label>
                            <input id="txt_title" placeholder="Title for your note..." type="text" v-model="model.title" required class="form-control"/>
                        </div>
                        <div align="right">
                            <button class="btn btn-success" type="submit" @click="addNote">Save note</button>
                        </div>
                    </form>
                </b-modal>
                <div class="p-4" v-html="html"></div>
            </div>
            <div class="col p-0 m-0" id="sidebar" :style="{'height': height, 'overflow': 'auto'}">
                <Notes :markdown="markdown"></Notes>
            </div>
        </div>
    </div>
</template>
<script>

    import showdown from 'showdown'
    import $ from 'jquery'

    import Editor from "./components/Editor";
    import Header from "./components/Header";
    import {mapGetters} from 'vuex'

    import {eventBus} from "./helpers/eventBus";
    import Notes from "./components/Notes";
    import {Note} from "./entities/Note";

    function debounce(func) {
        let timer;
        return function (event) {
            if (timer) clearTimeout(timer);
            timer = setTimeout(func, 100, event);
        };
    }

    showdown.extension('bootstrap-table', () => {
        return [{
            type: "output",
            filter: (html) => {
                let liveHtml = $('<div></div>').html(html);
                $('table', liveHtml).each(() => {
                    let table = $(this);
                    table.addClass('table table-striped table-bordered')
                        .wrap('<div class="class table-responsive"></div>');
                });
                return liveHtml.html();
            }
        }];
    });

    export default {
        components: {Notes, Header, Editor},
        data() {
            return {
                model: new Note(),
                markdown: "",
                height: 'auto',
                hasNotesLoadedFirstTime: false
            }
        },
        watch: {
            'getNotes': function () {
                if (this.$store.getters['Notes/getNotes'].length > 0 && this.hasNotesLoadedFirstTime === false) {
                    this.$store.commit('Notes/setActiveNote', this.$store.getters['Notes/getNotes'][0]);
                    this.markdown = this.$store.getters['Notes/getNotes'][0].content;
                    eventBus.$emit('editor.loadNote', {note: this.$store.getters['Notes/getNotes'][0]});
                    this.hasNotesLoadedFirstTime = true;
                }
            }
        },
        mounted() {
            this.syncHeight();

            window.addEventListener("resize", debounce(() => {
                this.syncHeight();
            }).bind(this));

            // eslint-disable-next-line no-undef
            Split(["#markdown", "#preview", "#sidebar"], {
                elementStyle: (dimension, size, gutterSize) => {
                    return {'flex-basis': 'calc(' + size + '% - ' + gutterSize + 'px)'}
                },
                gutterStyle: (dimension, gutterSize) => {
                    return {'flex-basis': gutterSize + 'px'}
                },
                sizes: [33, 33, 15],
                minSize: 250,
                gutterSize: 6,
                cursor: 'col-resize'
            });
        },
        methods: {
            closeNote() {
                this.$bvModal.msgBoxConfirm('This will clear the editor and your current changes, are you sure?')
                    .then((confirm) => {
                        if (confirm) {
                            this.$store.commit('Notes/setActiveNote', null);
                            eventBus.$emit('editor.clear');
                            this.markdown = "";
                        }
                    });
            },
            updateNote(note) {
                note.content = this.markdown;
                this.$store.commit('Notes/updateNote', note);
            },
            addNote() {
                this.model.content = this.markdown;
                this.$store.commit('Notes/addNote', this.model);
                this.$refs['note-form'].hide();
                this.model = new Note();
            },
            syncHeight() {
                let header = document.getElementById('header');
                this.height = `${window.innerHeight - header.clientHeight}px`;

                eventBus.$emit('editor.resize');
            }
        },
        computed: {
            ...mapGetters("Notes", [
                "getActiveNote",
                "getNotes"
            ]),
            html() {
                let converter = new showdown.Converter({
                    tables: true,
                    strikethrough: true,
                    emoji: true,
                    underline: true
                });

                let liveHtml = converter.makeHtml(this.markdown);

                let output = $('<div/>').html(liveHtml);
                $('table', output).each(function () {
                    let table = $(this);
                    table.addClass('table table-striped table-bordered')
                        .wrap('<div class="class table-responsive"></div>');
                });

                return output.html();
            }
        },
    }
</script>
<style lang="scss">
    html {
        width: 100%;
        height: 100%;

        ::-webkit-scrollbar {
            height: 8px;
            width: 8px;
        }

        ::-webkit-scrollbar-thumb {
            background: #838673;
            -webkit-border-radius: 1ex;
            -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
        }

        ::-webkit-scrollbar-corner {
            background: #000;
        }
    }

    .split {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        overflow-y: auto;
        overflow-x: hidden;

        .split-horizontal, .gutter.gutter-horizontal {
            float: left;
        }
    }

    #preview {
        background: #272822;
        color: white;

        img {
            width: 35%;
        }

        pre {
            background: #49483e;
            color: white;
            padding: 16px;
            border-radius: 8px
        }

        * > {
            color: white;
        }
    }

    .gutter {
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: 50%;

        &.gutter-horizontal {
            cursor: col-resize;
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
            background-color: #2F3129;
        }

        &.gutter-vertical {
            cursor: row-resize;
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
        }
    }
</style>